.dates dt {
    width: 230px;
    text-align: left;
}
.dates dd {
    margin-left: 250px;
}
.section-total {
    text-align: right;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.money {
    text-align: right;
}
@media (min-width: 1200px) {
    .container {
	width: 970px;
    }
}
.bill-section .row {
    cursor: pointer;
}
